ul,
li {
  list-style: none;
  padding: 0;
}
.wrap {
  display: flex;
}
.box {
  height: 100vh;
  width: 50vw;
  /* background-color: blue; */
  overflow-y: scroll;
}
body {
  background: white;
  /* background: #300999; */
  overflow: hidden;
}
video {
  height: 60vh;
}
#bg {
  height: 60vh;
}
.containerLogo {
  display: flex;

  justify-content: center;
  align-items: center;
  margin-bottom: -2vh;
}

.btnDesign {
  display: inline-block;
  padding: 0.5em 1.7em;
  margin: 0 0.1em 0.1em 0;
  border: 0.16em solid rgba(255, 255, 255, 0);
  background-color: rgb(241, 39, 63);
  border-radius: 2em;
  box-sizing: border-box;
  text-decoration: none;

  font-weight: 300;
  color: #ffffff;
  text-shadow: 0 0.04em 0.04em rgba(0, 0, 0, 0.35);
  text-align: center;
  transition: all 0.2s;
}

.btnDesign:hover {
  border-color: rgb(255, 255, 255);
}

.boxvideo {
  height: 100vh;
  width: 50vw;
  /* background-color: blue; */
}
.container {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0 1rem;
  padding: 3rem 0;
}

.video {
  display: flex;
  justify-content: center;
  align-items: center;
}

.wrapper {
  background: #eaf6ff;
  padding: 1rem;
  border-radius: 15px;
}
h1 {
  font-size: 1.1rem;
  font-family: "Open Sans", Arial, sans-serif;
}
.heading {
  color: #300999;
}
.sessions {
  margin-top: 2rem;
  border-radius: 12px;
  position: relative;
}
li {
  /* padding-bottom: 1.5rem; */
  /* padding-bottom: 0.5rem; */
  border-left: 1px solid #fc8290;
  position: relative;
  padding-left: 20px;
  margin-left: 10px;
}
li:last-child {
  border: 0px;
  padding-bottom: 0;
}
li:before {
  content: "";
  width: 15px;
  height: 15px;
  background: white;
  border: 1px solid #fe203a;
  box-shadow: 3px 3px 0px #fc8290;
  box-shadow: 3px 3px 0px #fc8290;
  border-radius: 50%;
  position: absolute;
  left: -10px;
  top: 0px;
}
.time {
  color: #2a2839;
  font-family: "Open Sans", Arial, sans-serif;
  font-weight: 500;
}
@media screen and (min-width: 601px) {
  .time {
    font-size: 0.9rem;
  }
}
@media screen and (max-width: 600px) {
  .time {
    margin-bottom: 0.3rem;
    font-size: 0.85rem;
  }
}
p {
  color: #4f4f4f;
  font-family: "Open Sans", Arial, sans-serif;
  line-height: 1.5;
  margin-top: 0.4rem;
}
@media screen and (max-width: 600px) {
  p {
    font-size: 0.9rem;
  }
}
