<html>
  <head>
    <title>Emotiedetectie</title>
    <link rel="stylesheet" href="{{ url_for('static',filename='css/screen.css') }}">
    <script src="//ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js"></script>
    <script src="{{ url_for('static',filename='js/emotions.js') }}"></script>
    <script type=text/javascript>
      $(function() {
        $('a#test').on('click', function(e) {
          e.preventDefault()
          $.getJSON('/background_process_test',
              function(data) {
            //do nothing
          });
          return false;
        });
      });
</script>

  </head>
  <body>
    <video controls>
      <source src="{{ url_for('static',filename='videos/project5.webm') }}" type="video/webm">
    </video>
    <p id="embed">{{embed}}</p>
    <a href=# id=test><button class='btn btn-default'>video</button></a>
    
    <div class="container">
      <div class="wrapper">
        <h1> Timeline of the emotions</h1>
    <ul class="sessions">
      <li>
        <div id="Time" class="time"></div>
        <p id="Emotion"></p>
      </li>
    </ul>
    </div>
    </div>
  </body>
</html>
